<div class="container-fluid">
    <div class="row q-1">
        <div class="col-md-4 r-1">
            <div class="card z-3">
                <div class="card-head r-2">
                    <span><img src="../../assets/contract.png" alt=""> &nbsp; <b>Category</b></span>
                </div>
                <div class="card-body">
                    <div class="rounded-circle">
                        <img class="src" src="../../assets/cloud.png" alt="img">
                    </div>
                    <div class="cloud">
                        <span><b>Cloud <br>Services</b></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 zx">
            <div class="card xc">
                <div class="card-head r-2">
                    <span><img src="../../assets/cr's.png" alt=""> &nbsp;<b>Total Spend</b></span>
                </div>
                <div class="card-body">
                    <div>
                        <div class="col-md-6 z-1">
                            <span>Commited</span>
                        </div>
                        <div class="col-md-6 z-2">
                            <span>Current</span>
                        </div>
                    </div>
                    <div class="v-1">
                        <img src="../../assets/arrow.png" class="v-2">
                        <i class="fa fa-usd vs-3" aria-hidden="true"></i>
                        <span class="vs-3">8.7M</span>
                        <sub class="v-4"><i class="fa fa-usd" aria-hidden="true"></i><span>9.7M</span></sub>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 cv">
            <div class="card vb">
                <div class="card-head r-2">
                    <span><img src="../../assets/savings.png" alt=""> &nbsp;<b>Total Savings</b></span>
                </div>
                <div class="card-body">
                    <div>
                        <div class="col-md-6 z-1">
                            <span>Commited</span>
                        </div>
                        <div class="col-md-6 z-2">
                            <span>Current</span>
                        </div>
                    </div>
                    <div class="v-1">
                        <img src="../../assets/arrow2.png" class="v-2">
                        <i class="fa fa-usd v-3" aria-hidden="true"></i>
                        <span class="v-3">8.7M</span>
                        <sub class="v-4"><i class="fa fa-usd" aria-hidden="true"></i><span>9.7M</span></sub>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 nm">
            <div class="card vb-1">
                <div class="card-head r-2">
                    <span><img src="../../assets/cr's.png" alt=""> &nbsp;<b>Total Supplier</b></span>
                </div>
                <div class="card-body">
                    <img src="../../assets/arrow2.png" alt="image"class="img-1">
                    <p class="p-1">87</p> <sub class="sub-1">97</sub>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-1">
        <div class="col-md-6">
            <div class="card g-2">
                <div class="card-head r-2">
                    <span><img src="../../assets/contact.png" alt=""> &nbsp;<b>Dept/Bu</b></span>
                </div>
                <div class="card-body">
                    <div id="pie"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card g-2">
                <div class="k-1">
                    <div class="col-md-6 k-2">
                        <span class="">By Spend</span>
                    </div>
                    <div class="col-md-6 k-3">
                        <span class="">By Savings</span>
                    </div>
                </div>
                <div class="table">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Supplier Name</th>
                            <th>Commited</th>
                            <th>Current</th>
                            <th>#CRs</th>
                            <th>Rating</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John</td>
                            <td>$2.1</td>
                            <td>$2.1</td>
                            <td>23</td>
                            <td>
                                <span class="fa fa-star c-3"></span>
                                <span class="fa fa-star c-3"></span>
                                <span class="fa fa-star c-3"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>