.fa-user-circle-o{
    font-size: 65px;
    padding-left: 30px;
    padding-top: 40px;
    color: #FBD200;
}
.c-2{
    float: right;
    margin-right: -125px;
    margin-top: -80px;
}
.c-1{
    margin: 10px;
    height: 160px;
    width: 390px;
    background-color: #f5f5f5;
}
.c-3{
    color:#FBD200;
}
b{
    font-size: 20px;
}
.b-1{
    margin-left: 25px;
}
.col-md-3{
    float: left;
}
p{
    margin-top: -50px;
    margin-left: 75px;
    width: 160px;
}
.r-1 {
    margin-left: 10px;
}
.r-2{
    margin-left: 25px;
}
.fa-usd{
    font-size: 20px;
}
.z-1{
    background-color: yellow;
    height: 30px;
    font-size: 20px;
    padding-left: 30px;
}
.z-2{
    float: right;
    margin-top: -30px;
    background-color: black;
    color: white;
    padding-left: 45px;
    font-size: 20px;
}
.z-3{
    height: 160px;
    background-color: #f5f5f5;
    margin-left: -10px;
    margin-top: 10px;
    margin-right: 10px;
}
.v-1{
    margin: 25px;
    margin-top: 10px;
}
.v-2{
    height: 35px;
    margin-top: -10px;
}
.v-3{
    font-size: 40px;
    color: #ed263e;
    margin-left: 5px;
}
.v-4{
    font-size: 20px;
}

.xc{    
    width: 390px;
    height: 160px;
    background-color: whitesmoke;
}

.vb-1{
    height: 160px;
    background-color: whitesmoke;

}
.cv{
    margin-left: -20px;
}
.cs{
    margin: 15px;
}
.cs-1{
    padding-left: 20px;
    float: right;
    margin-top: -30px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.cs-2{
    padding-left: 14px;
    background-color: yellow;
    height: 30px;
    font-size: 20px;
}
.cb{
    margin-left: 50px;
}
.cb-1{
    margin-left: 50px;
    margin-top: -20px;
}
.p-1{
    margin-top: -105px;
    font-size: 60px;
    margin-left: 60px;
    color: #ed243c;
}
.p-2{
    margin-top: -105px;
    font-size: 60px;
    margin-left: 60px;
    color: #32bb12;
}
.img-1{
    margin: 30px;
    height: 40px;
    margin-top: 15px;
}
.img-2{
    margin: 30px;
    height: 35px;
}
.sub-1{
    float: right;
    margin-top: -56px;
    margin-right: 140px;
    font-size: 35px;
}
.sub-2{
    float: right;
    margin-top: -56px;
    margin-right: 130px;
    font-size: 35px;
}
.g-1{
    padding: 10px;
}
.g-2{
    background-color: #f5f5f5;
    height: 480px;
}
.k-1{
    margin-top: 30px;
}
.k-2{
    float: left;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
}
.k-3{
    float: right;
    background: black;
    text-align: center;
    font-size: 20px;
    color: white;
}
thead{
    background-color: black;
    color: white;
}
tbody{
    text-align: center;
}
.table{
    padding-top: 5px;
}