<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div>
                    <div id="pie" class="highcharts-container"></div>
                    <input type="radio" class="b-1">Commited
                    <input type="radio"class="b-2">Current
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div>
                    <div id="pie2"class="highcharts-container"></div>
                    <input type="radio" class="b-1">Commited
                    <input type="radio"class="b-2">Current
                </div>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div>
                    <div id="pie3"class="highcharts-container"></div>
                    <input type="radio" class="b-1">Commited
                    <input type="radio"class="b-2">Current
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-head">
                    <span style="font-size: 19px;">Top 10 Supplier By Savings</span><br><br>
                    <input type="radio">Commited &nbsp;&nbsp;
                    <input type="radio">Current
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 c-1"></div>
                        <div class="col-md-3 c-2"></div>
                        <div class="col-md-4 c-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 c-4"></div>
                        <div class="col-md-5 c-5"></div>
                        <div class="col-md-3 c-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 c-7"></div>
                        <div class="col-md-4 c-8"></div>
                        <div class="col-md-2 c-9"></div>
                        <div class="col-md-4 c-10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div>
                    <div id="line"class="highcharts-container"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-head">
                    <span style="font-size: 19px;margin-top: 0px;">Total Vendors</span>
                </div>
                <div class="card-body d-1">
                    <img src="../../assets/arrow.png" style="margin-top: -20px;height: 30px;">
                    <span style="font-size: 65px; color: #32bb12;">125</span><sub>105</sub>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-head">
                    <span style="font-size: 19px;margin-top: 0px;">Total Contracts</span>
                </div>
                <div class="card-body d-1">
                    <img src="../../assets/arrow2.png"style="margin-top: -20px;height: 30px;">
                    <span style="font-size: 65px; color:#ed243c;">326</span><sub>350</sub>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-head">
                    <span style="font-size: 19px;">Top 10 Contracts By Value</span><br><br>
                    <input type="radio">Commited &nbsp;&nbsp;
                    <input type="radio">Current
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 c-1"></div>
                        <div class="col-md-3 c-2"></div>
                        <div class="col-md-4 c-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 c-4"></div>
                        <div class="col-md-5 c-5"></div>
                        <div class="col-md-3 c-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 c-7"></div>
                        <div class="col-md-4 c-8"></div>
                        <div class="col-md-2 c-9"></div>
                        <div class="col-md-4 c-10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="height: 50px;background-color: black;color: white;width: 100%;text-align: center;margin-top: 20px;">
            <span style="font-size: 30px;">Top 10 Supplier By Spend</span>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Supplier</th>
                <th>Commited</th>
                <th>Current</th>
                <th>#CRs</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>$2.1</td>
                <td>$2.1</td>
                <td>23</td>
                <td>
                    <span class="fa fa-star w-1"></span>
                    <span class="fa fa-star w-1"></span>
                    <span class="fa fa-star w-1"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>