<div class="container-fluid">
  <div class="row" style="background-color: #fff700;height:57px;width: 102%;">
      <div class="col-md-6" style="float: left;">
          <img src="../assets/1200px-Caterpillar_logo.svg.png" style="width:200px;padding:15px;">
      </div>
      <div class="col-md-6">
          <a href="#" style="margin-left: 400px;padding: 20px;">
              <img src="../assets/contact.png" style="width: 15px;"> Admin</a>
          <button class="btn btn-dark" style="height: 43px;margin-top: 7px;">Logout</button>
      </div>
  </div>
  <div class="row">
      <div class="navbar bg-dark navbar-dark" style="width: 103%; height:57px;color: white;">
          <div class="col-md-6" style="float: left;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" style="width: 35px;height:25px;margin-top: 10px;">
                  <span class="navbar-toggler-icon" style="width:20px;margin-left: -5px;margin-top: -10px;"></span>
              </button>
              <span> Home</span>
          </div>
          <div class="col-md-6" style="float: right;">
              <span style="margin-left: -160px; font-size: 30px;" *ngIf="IsStock">Over View</span>
              <span style="margin-left: -160px;font-size: 30px;" *ngIf="Isorder">Supplier Profile</span>
              <span style="margin-left: -160px;font-size: 30px;" *ngIf="Ismarketing">Category Profile</span>
              <span style="margin-left: -160px;font-size: 30px;" *ngIf="Issales">Dep/Bu Profile</span>
              <input type="text" placeholder="Search" style="float: right;">
          </div>
      </div>
      <div class="navbar"style="width: 103%; height:40px;color: white; background-color:#c1c1c1">
        <div>
          <button class="btn btn-secondary" type="button"(click)="Stock('Stock')" routerLink="/overview">Over View</button>
        <button class="btn btn-secondary" type="button"(click)="orders('orders')" routerLink="/supplier">Supplier Profile</button>
        <button class="btn btn-secondary" type="button"(click)="marketing('marketing')" routerLink="/category">Category Profile</button>
        <button class="btn btn-secondary" type="button"(click)="sales('sales')" routerLink="/bu">Dep/Bu Profile</button>
        </div>
      </div>
  </div>
  </div>
<router-outlet></router-outlet>