.fa-user-circle-o{
    font-size: 65px;
    padding-left: 30px;
    padding-top: 40px;
    color: #FBD200;
}
.c-2{
    float: right;
    margin-right: -140px;
    margin-top: -90px;
}
.c-1{
    margin: 10px;
    height: 160px;
    width: 350px;
    background-color: #f5f5f5;
}
.c-3{
    color:#FBD200;
}
b{
    font-size: 20px;
}
.b-1{
    margin-left: 25px;
}
.c-4{
    margin: 10px;
    height: 160px;
    margin-left: -70px;
    background-color: #f5f5f5;
}
.fa-file-text-o, .fa-cloud-upload, .fa-signal, .fa-sitemap{
    padding: 20px;
    color: aliceblue;
    font-size: 30px;
}
.rounded-circle{
    background-color:#34bc14;
    width: 70px;
    height: 70px;
}
.cloud-upload{
    background-color:#FA0028;
    width: 70px;
    height: 70px;
}
.col-md-3{
    float: left;
}
p{
    margin-top: -50px;
    margin-left: 75px;
    width: 160px;
}
.r-1 {
    margin-left: 10px;
    padding-right: 85px;
}
.r-2{
    margin-left: 25px;
}
.fa-usd{
    font-size: 20px;
}
.z-1{
    background-color: yellow;
    height: 30px;
    font-size: 20px;
    padding-left: 30px;
}
.z-2{
    float: right;
    margin-top: -30px;
    background-color: black;
    color: white;
    padding-left: 45px;
    font-size: 20px;
}
.z-3{
    height: 160px;
    background-color: #f5f5f5;
}
.v-1{
    margin: 25px;
    margin-top: 10px;
}
.v-2{
    height: 35px;
    margin-top: -10px;
}
.v-3{
    font-size: 40px;
    color: #ed263e;
    margin-left: 5px;
}
.v-4{
    font-size: 20px;
}
.zx{
    margin-right: -90px;
    height: 160px;
}
.xc{
    margin-left: -80px;
    height: 160px;
    background-color: whitesmoke;
    margin-right: -30px;
}
.cv{
    margin-left: 100px;
}
.nm{
    margin-left: -30px;
}
.vb{
    margin-right: 10px;
    height: 160px;
    background-color: whitesmoke;

}
.vb-1{
    height: 160px;
    background-color: whitesmoke;

}
.cs{
    margin: 15px;
}
.cs-1{
    padding-left: 20px;
    float: right;
    margin-top: -30px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.cs-2{
    padding-left: 14px;
    background-color: yellow;
    height: 30px;
    font-size: 20px;
}
.p-1{
    margin-top: -100px;
    font-size: 50px;
    margin-left: 60px;
    color: #ed243c;
}
.p-2{
    margin-top: -100px;
    font-size: 50px;
    margin-left: 55px;
    color: #32bb12;
}
.img-1{
    margin: 30px;
    height: 40px;
}
.img-2{
    margin: 30px;
    height: 35px;
}
.sub-1{
    float: right;
    margin-top: -60px;
    margin-right: 90px;
    font-size: 30px;
}
