<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card c-1">
                <div class="col-md-6">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">
                   <div class="c-2">
                    <span><b>Supplier Name</b></span><br>
                    <span class="fa fa-star c-3"></span>
                    <span class="fa fa-star c-3"></span>
                    <span class="fa fa-star c-3"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br>
                    <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; <span>Phone Number</span><br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; <span>Mail Id</span><br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; <span> adderss</span>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card c-4">
                <div class="card-head">
                    <span class="b-1"><b>TYPES OF MASTERS</b></span>
                </div>
                <div class="card-body">
                    <div class="col-md-3">
                        <div class="rounded-circle">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <p><b>SW(4)</b></p>
                    </div>
                    <div class="col-md-3" style="margin-left: -30px;">
                        <div class="rounded-circle cloud-upload">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        </div>
                        <p><b>Cloud(0)</b></p>
                    </div>
                    <div class="col-md-3" style="margin-left: -30px;">
                        <div class="rounded-circle">
                            <i class="fa fa-signal" aria-hidden="true"></i>
                        </div>
                        <p><b>Telecom/HW(23)</b></p>
                    </div>
                    <div class="col-md-3" style="margin-left:40px;">
                        <div class="rounded-circle">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                        </div>
                        <p><b>Consulting(43)</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 r-1">
            <div class="card z-3">
                <div class="card-head r-2">
                    <span><i class="fa fa-usd" aria-hidden="true"></i> &nbsp; <b>Total Spend</b></span>
                </div>
                <div class="card-body">
                    <div>
                        <div class="col-md-6 z-1">
                            <span>Commited</span>
                        </div>
                        <div class="col-md-6 z-2">
                            <span>Current</span>
                        </div>
                    </div>
                    <div class="v-1">
                        <img src="../../assets/arrow2.png" class="v-2">
                        <i class="fa fa-usd v-3" aria-hidden="true"></i>
                        <span class="v-3">8.7M</span>
                        <sub class="v-4"><i class="fa fa-usd" aria-hidden="true"></i><span>9.7M</span></sub>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 zx">
            <div class="card xc">
                <div class="card-head r-2">
                    <span><b>Total Contracts</b></span>
                </div>
                <div class="card-body">
                    <img src="../../assets/arrow2.png" alt="image"class="img-1">
                    <p class="p-1">87</p> <sub class="sub-1">97</sub>
                </div>
            </div>
        </div>
        <div class="col-md-3 cv">
            <div class="card vb">
                <div class="card-head r-2">
                    <span><b>Total CRs</b></span>
                </div>
                <div class="card-body">
                    <img src="../../assets/arrow.png" alt="image"class="img-2">
                    <p class="p-2">41</p><sub class="sub-1">31</sub>
                </div>
            </div>
        </div>
        <div class="col-md-3 nm">
            <div class="card vb-1">
                <div class="card-head r-2">
                    <span><b>Total Savings</b></span>
                </div>
                <div class="card-body">
                    <div>
                        <div class="col-md-6 cs-2">
                            <span>Commited</span>
                        </div>
                        <div class="col-md-6 cs-1">
                            <span>Current</span>
                        </div>
                    </div>
                    <div class="cs">
                        <img src="../../assets/arrow2.png" class="v-2">
                        <i class="fa fa-usd v-3" aria-hidden="true"></i>
                        <span class="v-3">8.7M</span>
                        <sub class="v-4"><i class="fa fa-usd" aria-hidden="true"></i><span>9.7M</span></sub>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-1">
        <div class="col-md-6">
            <div class="card g-2">
                <div class="card-head r-2">
                    <span><b>Spend By Enterprise</b></span>
                </div>
                <div class="card-body">
                    <div id="pie"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card g-2">
                <div class="k-1">
                    <div class="col-md-6 k-2">
                        <span class="">Contracts By Value</span>
                    </div>
                    <div class="col-md-6 k-3">
                        <span class="">Pending RFX</span>
                    </div>
                </div>
                <div class="table">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Contract Name</th>
                            <th>Commited</th>
                            <th>Current</th>
                            <th>#CRs</th>
                            <th>Rating</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John</td>
                            <td>$2.1</td>
                            <td>$2.1</td>
                            <td>23</td>
                            <td>
                                <span class="fa fa-star c-3"></span>
                                <span class="fa fa-star c-3"></span>
                                <span class="fa fa-star c-3"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
