<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card c-1">
                <div class="col-md-6">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">
                   <div class="c-2">
                    <span><b>Supplier Name</b></span><br>
                    <span class="fa fa-star c-3"></span>
                    <span class="fa fa-star c-3"></span>
                    <span class="fa fa-star c-3"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br>
                    <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; <span>Phone Number</span><br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; <span>Mail Id</span><br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; <span> adderss</span>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card c-4">
                <div class="card-head">
                    <span class="b-1"><b>TYPES OF MASTERS</b></span>
                </div>
                <div class="card-body">
                    <div class="col-md-3">
                        <div class="rounded-circle">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <p><b>SW(4)</b></p>
                    </div>
                    <div class="col-md-3" style="margin-left: -30px;">
                        <div class="rounded-circle">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        </div>
                        <p><b>Cloud(0)</b></p>
                    </div>
                    <div class="col-md-3" style="margin-left: -30px;">
                        <div class="rounded-circle">
                            <i class="fa fa-signal" aria-hidden="true"></i>
                        </div>
                        <p><b>Telecom/HW(23)</b></p>
                    </div>
                    <div class="col-md-3" style="margin-left:40px;">
                        <div class="rounded-circle">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                        </div>
                        <p><b>Consulting(43)</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>
